form {
    font-size: 1em;
}

form div {
    display: flex;
}

label {
    color: black;
    flex: 1;
    margin: 7px 0;
}

input {
    background-color: white;
    color: black;
    flex: 2;
    margin: 7px 0;
}

.search {
    font-size: 20px;
    font-family: "Abril Fatface", serif;
}

.searchInput {
    padding: 10px;
    width: 1100px;
}

.formBtn {
    color: #F3E3B1;
    font-family: "Abril Fatface", serif;
    font-size: 16px;

    &:hover {
        color: #744da9;
        background-color: #e6c541;
    }
}